sample-apps-ios-appium.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
sample-apps-ios-appium.xcodeproj/project.xcworkspace/xcuserdata/akosbirmacher.xcuserdatad/WorkspaceSettings.xcsettings
